@import "tailwindcss";

@theme {
  --font-sans: var(--font-noto-sans), sans-serif;
  --font-serif: var(--font-noto-serif), serif;

  --color-gray-10: #1a1a1a;
  --color-gray-11: #808080;
  --color-gray-12: #d9d9d9;
  --color-gray-13: #ededed;
  --color-gold-20: #bfa25b;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  margin: 0 auto !important;
  text-align: center;
  padding: 0 !important;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
