@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  margin: 0 auto !important;
  text-align: center;
  padding: 0 !important;
  max-width: 100%;
  height: 100vh;
}
